<div class="col-md-6 offset-md-3">
    <h2>Update Contact</h2>
    <form (ngSubmit)="updateContact()">

        <div class="form-group">
            <label >Id</label>
            <input type="text" 
            class="form-control" 
            name="id" 
            id="id"
            [(ngModel)]="contact.contactId"
            readonly>
        </div>

        <br>
        <div class="form-group">
            <label >Name</label>
            <input type="text" 
            class="form-control" 
            name="name" 
            id="name"
            [(ngModel)]="contact.contactName"
            >
        </div>
        <br>
        <div class="form-group">
            <label >Email</label>
            <input type="text" 
            class="form-control" 
            name="email" 
            id="email"
            [(ngModel)]="contact.contactEmail"
            >
        </div>
        <br>
        <div class="form-group">
            <label >Phone</label>
            <input type="text" 
            class="form-control" 
            name="phone" 
            id="phone"
            [(ngModel)]="contact.contactNum"
            >
        </div>
        <br>
        <div>
            <button class="btn btn-primary" type="submit">
                Update
            </button>
        </div>
    </form>
    </div>	